:root {
  /* Colors */

  /* Primary Colors */
  --red: hsl(0, 78%, 62%);
  --cyan: hsl(180, 62%, 55%);
  --orange: hsl(34, 97%, 64%);
  --blue: hsl(212, 86%, 64%);

  /* Neutral Colors */
  --grey-500: hsl(234, 12%, 34%);
  --grey-400: hsl(212, 6%, 44%);
  --white: hsl(0, 0%, 100%);

  /* font-weights */
  --fw-200: 200;
  --fw-400: 400;
  --fw-600: 600;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

html {
  font-size: 15px;
}

body {
  font-family: "Poppins", sans-serif, Arial;
  margin: 0;
  padding: 0;
}

p {
  color: var(--grey-500);
}

main {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0 2em;
  min-height: 100vh;
}

article {
  width: 100%;
  max-width: 72rem;
  margin: 3em auto;
}

.heading {
  font-size: clamp(1.7rem, 5vw, 2.4rem);
  text-align: center;
  font-weight: 600;
  color: var(--grey-500);
  margin: 0.3em auto;
}

.light-text {
  font-weight: 200;
  color: var(--grey-400);
}

.description {
  text-align: center;
  color: var(--grey-500);
  font-weight: 400;
  max-width: 35rem;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 3.5em;
}

.grid-container {
  display: grid;
  gap: 2em;
}

.flex-center {
  display: flex;
  align-items: center;
}
.flex-equal {
  flex: 1 0 20rem;
}

.card {
  width: 100%;
  background: white;
  box-shadow: 0 10px 20px 0 hsla(0, 0%, 0%, 0.128);
  border-radius: 0.4rem;
  margin: 0 auto;
  padding: 2em;
  transition: all 0.3s ease;
}

.card:hover {
  transform: translateY(-2px);
  /* box-shadow: 0 18px 20px 0 hsla(0, 78%, 62%, 0.334); */
  box-shadow: 0 18px 20px 0 hsla(0, 0%, 0%, 0.128);
}

/* .card + .card {
  margin-top: 2em;
} */

.card-name {
  font-size: 1.3rem;
  font-weight: 600;
  color: var(--grey-500);
  margin: 0;
}

.card-desc {
  margin: 0.4em 0;
  font-size: 0.84rem;
  color: var(--grey-400);
}

.card-icon {
  display: block;
  margin: 2rem 0 0.8rem auto;
}

.cyan-one {
  max-width: 45rem;
  border-top: 4px solid var(--cyan);
}

.red-one {
  max-width: 45rem;
  border-top: 4px solid var(--red);
}

.orange-one {
  max-width: 45rem;
  border-top: 4px solid var(--orange);
}

.blue-one {
  max-width: 45rem;
  border-top: 4px solid var(--blue);
}

@media (min-width: 68.6875em) {
  .grid-container {
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(4, 0.5fr);
  }

  .cyan-one {
    grid-row-start: 2;
    grid-row-end: 4;
    grid-column-start: 1;
    grid-column-end: 2;
  }

  .red-one {
    grid-row-start: 1;
    grid-row-end: 3;
    grid-column-start: 2;
    grid-column-end: 3;
  }

  .orange-one {
    grid-row-start: 3;
    grid-row-end: 5;
    grid-column-start: 2;
    grid-column-end: 3;
  }

  .blue-one {
    grid-row-start: 2;
    grid-row-end: 4;
    grid-column-start: 3;
    grid-column-end: 4;
  }
}
