:root {
  /* Colors */

  /* Primary Colors */
  --red: hsl(0, 78%, 62%);
  --cyan: hsl(180, 62%, 55%);
  --orange: hsl(34, 97%, 64%);
  --blue: hsl(212, 86%, 64%);

  /* Neutral Colors */
  --grey-500: hsl(234, 12%, 34%);
  --grey-400: hsl(212, 6%, 44%);
  --white: hsl(0, 0%, 100%);

  /* font-weights */
  --fw-200: 200;
  --fw-400: 400;
  --fw-600: 600;

  /* font-sizes */
  --fs-heading: clamp(1.7rem, 5vw, 2.4rem);

  /* shadows */
  --shadow-card-normal: 0 10px 20px 0 hsla(0, 0%, 0%, 0.128);
  --shadow-card-hover: 0 18px 20px 0 hsla(0, 0%, 0%, 0.128);

  /* transforms */
  --movement: translateY(-2px);
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

html {
  font-size: 15px;
}

body {
  font-family: "Poppins", sans-serif, Arial;
  margin: 0;
  padding: 0;
}

p {
  color: var(--grey-500);
}

main {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0 2em;
  min-height: 100vh;
}

article {
  width: 100%;
  max-width: 72rem;
  margin: 3em auto;
}

.heading {
  font-size: var(--fs-heading);
  text-align: center;
  font-weight: 600;
  color: var(--grey-500);
  margin: 0.3em auto;
}

.light-text {
  display: block;
  font-weight: 200;
  color: var(--grey-400);
}

.description {
  text-align: center;
  color: var(--grey-500);
  font-weight: 400;
  max-width: 35rem;
  margin-inline-start: auto;
  margin-inline-end: auto;
  margin-block-end: 3.5em;
}

.grid-container {
  display: grid;
  gap: 2rem;
  grid-template-areas:
    "supervisor"
    "teambuilder"
    "karma"
    "calculator";
}

.card {
  width: 100%;
  background: var(--white);
  box-shadow: var(--shadow-card-normal);
  border-radius: 0.4rem;
  margin: 0 auto;
  padding: 2em;
  transition: all 0.3s ease;
}

.card:hover {
  transform: var(--movement);
  box-shadow: var(--shadow-card-hover);
}

.card-name {
  font-size: 1.3rem;
  font-weight: 600;
  color: var(--grey-500);
  margin: 0;
}

.card-desc {
  margin: 0.4em 0;
  font-size: 0.84rem;
  color: var(--grey-400);
}

.card-icon {
  display: block;
  margin: 2rem 0 0.8rem auto;
}

.supervisor {
  max-width: 45rem;
  border-top: 4px solid var(--cyan);
  grid-area: supervisor;
}

.team-builder {
  max-width: 45rem;
  border-top: 4px solid var(--red);
  grid-area: teambuilder;
}

.karma {
  max-width: 45rem;
  border-top: 4px solid var(--orange);
  grid-area: karma;
}

.calculator {
  max-width: 45rem;
  border-top: 4px solid var(--blue);
  grid-area: calculator;
}

@media (min-width: 68.6875em) {
  .grid-container {
    grid-template-columns: repeat(3, 1fr);
    grid-template-areas:
      ". teambuilder  ."
      "supervisor teambuilder calculator"
      "supervisor karma calculator"
      ". karma .";
  }

  .supervisor {
    grid-area: supervisor;
  }

  .team-bulider {
    grid-area: teambuilder;
  }

  .karma {
    grid-area: karma;
  }

  .calculator {
    grid-area: calculator;
  }
}

@media (prefers-reduced-motion: reduce) {
  * {
    animation: none !important;
    transition: none !important;
  }
}
